
body {
    font-family: 'Inter', sans-serif;
    color: #071013;
}

@-ms-viewport {
    width: device-width
}

a {
    color: #8C1515;
}

.body {
    margin: auto;
}

.h-100 {
    margin: auto;
}

.w-100 {
    margin: auto;
}

.main_color  {
    color: #8C1515;
}

.secondary_color {
    color: #071013;
}

.email_color {
    color: #071013;
}

.secondary_font {
    font-family: 'Ubuntu Mono', serif;
}

.section-subtitle {
    font-family: 'Ubuntu Mono', serif;
}

#profile_picture  {
    width: 20%;
    height: auto;
    margin-top: 1%;
}

.about #full_name {
    font-size: x-large;
}

.about .affiliations #title {
    padding-right: .5%;
}

.about .affiliations #name {
    padding-right: .5%;
}   

.about #email {
    font-family: 'Ubuntu Mono', serif; 
    margin: auto;
}

.about .socials {
    font-size: small;
    margin-bottom: 1%;
    margin-top: 1%;
}

.about .socials a {
    margin-left: .5%;
}

.about .academia .degree_major {
    font-size: small;
}

.about .academia .other_info {
    font-size: small;
}

.course {
    margin-top: 1%;
}


.publications .publication {
    margin-top: 1.5%;
}

.publication .section-1 .publication-date {
    font-family: 'Ubuntu Mono', serif;
}

.publication .section-1 .publication-name {
    font-family: 'Ubuntu Mono', serif;
}


.publication .section-2 {
    font-family: 'Ubuntu Mono', serif;
    margin-top: -.1%;
    margin-bottom: .5%;
}


.publication .section-3 {
    margin-top: -.5%;
    font-family: 'Ubuntu Mono', serif;
    text-decoration: none;
}

.publication .section-3 a{
    padding: .15%;
}

.publication .section-3 a:hover {
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

    border-radius: 50%;
    background-color: #d64933;
    color: white;
}

.publication .separator {
    margin-left: -1%;
}

.projects .project {
    margin-top: 1.5%;
}

.project .section-2 a {
    padding: .8%;
    margin-left: -.1%;
}

.projects .project a{
    font-family: 'Ubuntu Mono', serif;
    padding: .15%;
}
.projects .project .section-2 a:hover {
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;

    border-radius: 50%;
    background-color: #d64933;
    color: white;
}


.section-title {
    margin-top: 2.5%;
}

.copy_right {
    font-size: small;
}

.papers {
    /*margin: 3em auto;*/
    text-align: center;
    font-size: 1rem
}

.papers .paper {
    position: relative;
    display: inline-block;
    margin: 0.2em 0.2em;
    width: 0.2em;
    height: 0.2em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 70;
    color: #000
}

.papers .paper:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute
}

.papers .paper:after {
    width: 100%;
    height: 2px;
    left: 50%;
    bottom: -0.3em;
    background: #d63940;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.papers .paper:hover:after {
    width: 0
}

.papers .action:hover {
    color: #666
}

* {
    margin: 0;
    padding: 0
}

html, body {
    font-family: Jura, sans-serif;
    font-size: 1rem;
    height: 100%
}

body {
    display: flex;
    flex-direction: column
}

.wrap {
    flex: 1 0 auto;
    width: 92%;
    margin: 0 auto;
    margin-top: 5em
}

@media only screen and (min-width: 1024px) {
    .wrap {
        width: 1024px
    }
}

a {
    color: #b6262c;
    text-decoration: none;
    -webkit-transition: color 0.5s;
    transition: color 0.5s
}

a:visited, a:hover, a:active {
    text-decoration: none
}

::selection {
    background-color: #b6262c;
    color: white
}

::-moz-selection {
    background-color: #b6262c;
    color: white
}

.footer {
    flex-shrink: 0;
    width: 92%;
    height: auto;
    box-sizing: border-box;
    color: #4f515d;
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 18px;
    padding-bottom: 18px;
    border: 0;
    border-top: 1px solid #eee
}

@media only screen and (min-width: 1024px) {
    .footer {
        width: 1024px
    }
}

.footer p {
    margin-top: 0.4em;
    margin-bottom: 0.4em
}

.footer a:hover {
    color: #4f515d
}

.profile {
    text-align: center
}

.profile .portrait {
    position: relative;
    /*max-width: 10rem;*/
    margin: 0.6em auto
}

.profile .portrait .spinner {
    width: 10rem;
    height: 10rem;
    border: 0.5em solid white;
    border-right-color: #b6262c;
    border-bottom-color: #b6262c;
    border-radius: 50%;
    -webkit-transition: transform 0.8s ease-in-out;
    -moz-transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out
}

.profile .portrait:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.profile .portrait .img {
    position: absolute;
    width: 100%;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%
}

.profile .name {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin: 0.2em auto
}

.profile .name b {
    font-weight: bold
}

.profile .title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #b6262c;
    margin: 0.8em auto
}

.profile .bio {
    font-size: 0.9rem
}

.profile .bio p {
    margin-top: 0.9em
}

.profile .bio a:hover {
    color: initial
}

@media only screen and (min-width: 720px) {
    .profile .portrait {
        max-width: 11rem
    }

    .profile .portrait .spinner {
        width: 11rem;
        height: 11rem
    }

    .profile .name {
        font-size: 2.4rem
    }

    .profile .title {
        font-size: 1.1rem
    }
}

@media only screen and (min-width: 1024px) {
    .profile .portrait {
        max-width: 12rem
    }

    .profile .portrait .spinner {
        width: 12rem;
        height: 12rem
    }

    .profile .name {
        font-size: 2.5rem
    }

    .profile .title {
        font-size: 1.2rem
    }
}

.contacts {
    margin: 2.2rem auto;
    text-align: center;
    font-size: 1.2rem
}

.contacts .contact {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    margin-left: 0.1em;
    margin-right: 0.1em;
    background: #f9f9fb;
    border-radius: 100%;
    color: #535358;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.contacts .contact:hover {
    background: #b6262c;
    color: #fff;
    box-shadow: 0 0 1px 7px rgba(182, 38, 44, 0.15)
}