@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/posts/icomoon.eot');
    src:  url('../../fonts/posts/icomoon.eot') format('embedded-opentype'),
    url('../../fonts/posts/icomoon.ttf') format('truetype'),
    url('../../fonts/posts/icomoon.woff') format('woff');
    /*url('https://i.icomoon.io/public/temp/683e3b0ce1/UntitledProject/icomoon.svg?c4bw36#icomoon') format('svg');*/
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-paperconnected:before {
    content: "\e900";
}