.post-letter{
    font-size: 16.0rem;
    font-family: 'Josefin Sans', -apple-system, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', 'ST Heiti', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(0, 0, 0, .07);
    z-index: 1;
    position: absolute;
    margin-top: 8rem;
    top: 1%;
    left: 3rem;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events:none;
    text-transform:uppercase;
    /*display: block;*/
}